Makefile.in
Makefile
aclocal.m4
acgenom.h.in
autom4te.cache
build/
build-*
config.guess
config.sub
configure
compile
depcomp
install-sh
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
ylwrap
test-driver
*~
