  html {
      background:	#f9f9e2;
      height:		100%;
      min-height:	100%;
  }

  body {
      color:		#444;
      background:	white;
      font:		normal normal normal 12px/18px serif;

      max-width:	54em;
      padding:		2em;
      margin:		0 auto;

      border-left:	1px solid #ccc;
      border-right:	1px solid #ccc;
      border-bottom:	1px solid #ccc;
  }

  h1, h2, h3, h4, h5, .menu p {
      font-family:	sans-serif;
      text-shadow:	2px 2px 4px #ccc;
  }

  h5 {
      font-size:	100%;
  }

  a:link, a:visited {
      color:		#660403;
      font-family:	sans-serif;
      font-weight:	normal;
      text-decoration:	none;
  }

  a:hover {
      color:		#e90017;
      text-decoration:	underline;
  }

  blockquote {
      margin:		0 2em;
  }

  pre {
      margin:		0;
  }

  dd {
      text-align:	justify;
  }

  table {
      font-size:	inherit;
      width:		90%;
      margin-left:	auto;
      margin-right:	auto;
      border-collapse:	collapse;
      border-bottom:	1px solid #ccc;
  }

  table th {
      background:	#f9f9e2;
      border-top:	1px solid #ccc;
      border-bottom:	1px solid #ccc;
      padding:		0.25em 0;
  }

  table td {
      border-style:	none;
  }

  p {
      text-align:	justify;
  }

  var {
      font-family:	sans-serif;
  }

  .settitle {
      display:		none;
  }

  .node {
      page-break-before:always;
      display:		block;
      position:		fixed;
      top:		4px;
      left:		2em;
      right:		2em;
      font-family:	sans-serif;
  }

  .node p {
      margin:		0 auto 2px auto;
      padding:		0 10px;
      background:	#f9f9e2;
      border:		1px solid #ccc;
      -moz-box-shadow:    2px 2px 4px #ccc;
      -webkit-box-shadow: 2px 2px 4px #ccc;
      box-shadow:         2px 2px 4px #ccc;

      text-align:	right;
      font-size:	90%;
      max-width:	60em;
  }

  .node p:hover {
      color:		black;
      background:	#ffffef;
  }

  .node hr {
      display:		none;
  }

  .chapter, h2.unnumbered {
      text-align:	right;

      font-size:	200%;
      line-height:	150%;

      right:		0;
      margin:		1em;
      padding-right:	1em;
      border-bottom:	1px solid #ccc;
  }

  .menu {
      background:	#f9f9e2;

      display:		table;
      width:		95%;
      margin:		2em 0;
      padding:		4px 1% 4px 1%;

      border-top:	1px solid #ccc;
      border-bottom:	1px solid #ccc;
  }

  .menu li {
      display:		table-row;
  }

  .menu .cell {
      display:		table-cell;
      width:		65%;
  }

  .contents ul {
      list-style-type:	disc;
  }

  .index-cp, .index-fn {
      display:		table;
  }

  .index-cp li, .index-fn li {
      display:		table-row;
  }

  .index-cp a+a, .index-fn a+a {
      display:		table-cell;
      padding-left:	2em;
  }

  .verbatim {
      display:		block;
      width:		90%;
      margin-left:	auto;
      margin-right:	auto;
  }

  .defun {
      font-family:	sans-serif;
  }

  .float {
      font-size:	90%;
      text-align:	center;
      margin:		0 auto;
      width:		90%;
  }

  .float p {
      text-align:	center;
      margin:		0;
  }

  .float-caption {
      font-family:	sans-serif;
  }

  span.sansserif {
      font-family:	sans-serif;
      font-weight:	inherit;
  }

  span.raise {
      vertical-align:	top;
      position:		relative;
      top:		-0.3ex;
  }

  div[align="right"], div[align="right"] p {
      text-align:	right;
      margin:		0;
  }